<h1><%= @word.capitalize %></h1>
<ol>
  <% if @definitions != nil %>
    <% @definitions.each do |d| %>
      <li><%= d %></li>
    <% end %>
  <% else %>
    <h1>Not a valid word</h1>
  <% end %>
</ol>
