<h1 class="home-header">Word Diary</h1>

<form class="pure-form mobile-form" action="/define" method="GET">
  <input type="text" name="word" placeholder="Word" />
  <button class="pure-button" type="submit">DEFINE</button>
</form>
