<h1 class="home-header">East of Eden</h1>
<br />

<form class="pure-form mobile-form" action="/define" method="GET">
  <input type="text" name="word" placeholder="Word" /> <br />
  <button class="pure-button" type="submit">DEFINE</button>
</form>
