<h1>Let's get verbal!</h1>
<form class="pure-form" action="/define" method="GET">
  <input type="text" name="word" placeholder="Word" />
  <button class="pure-button" type="submit">DEFINE</button>
</form>

