<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Word-Diary</title>
	<link rel="stylesheet" href="/css/blog.css" media="screen" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

	<link rel="stylesheet" href="/css/side-menu.css">
	<script type="text/javascript" src="/js/ui.js"></script>
</head>
	<body>
		<div id="layout">
			<a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

			<div id="menu">
				<div class="pure-menu pure-menu-open">
					<a href="/" class="pure-menu-heading">Word-Diary</a>
					<ul>
						<li><a href="#">History</a></li>
						<li class="menu-item-divided"></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>

			<div class="content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
